$--color-primary-orange: #fe7b21;
$--color-primary-blue: #4F63FF;

/* 灰色 */
$--color-gray-0: #000;
$--color-gray-1: #333;
$--color-gray-2: #666;
$--color-gray-3: #999;
$--color-gray-4: #ccc;
$--color-gray-5: #e7e7e7;

/* 红色 */
$--color-red-1: #E63600;

/* 状态颜色 */
$--status-color-not-started: $--color-primary-blue;
$--status-color-ongoing: #2DCA72;
$--status-color-stopped: #F79F1A;
$--status-color-finished: $--color-gray-3;
$--status-color-expired: $--color-red-1;

/* 头部的高度 */
$--header-height: 60px;
/* 主菜单宽度 */
$--main-menu-width: 200px;
$--main-menu-width-collapse: 66px;

$--border-color: $--color-gray-5;

$padding: 20px;
//  文本溢出隐藏并显示省略号
@mixin elps {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

//  多行文本溢出隐藏并显示省略号
@mixin elps-wrap($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; //  -webkit-box为旧的属性值，2012年最新的标准草案为flex，如果把值该为flex，将不支持多行省略号。
  -webkit-line-clamp: $line; // webkit支持此属性，并且是一个不规范的属性，没有出现在css规范的草案中。必须结合display: -webkit-box和-webkit-box-orient: vertical;属性一起使用
  -webkit-box-orient: vertical;
}
