//globl transition css

/*fade*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave {
    opacity: 1;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .5s;
}
.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}
.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-move {
    transition: all .5s;
}

.breadcrumb-leave-active {
    position: absolute;
}

// fade-left
.fade-left-enter-active,
.fade-left-leave-active {
    transition: all .4s;
}
.fade-left-enter,
.fade-left-leave-active {
    opacity: 0;
    transform: translateX(-40px);
}
.fade-left-move {
    transition: all .4s;
}
.fade-left-leave-active {
    position: absolute;
}

// fade-right
.fade-right-enter-active,
.fade-right-leave-active {
    transition: all .4s;
}
.fade-right-enter,
.fade-right-leave-active {
    opacity: 0;
    transform: translateX(50px);
}
.fade-right-move {
    transition: all .4s;
}
.fade-right-leave-active {
    position: absolute;
}


.slide-right-enter,
.slide-right-leave-to {
    transform: translateX(100%);
}
.slide-right-enter-active,
.slide-right-leave-active {
    transition: transform .2s ease-out;
}
.slide-right-enter-to,
.slide-right-leave {
    transform: translateX(0);
}
.flip-list-move {
    transition: transform 1s;
}
.flip-list-leave-active {
    position: absolute;
}
