.together {
  min-height: calc(100vh - 120px);
  padding-bottom: 30px;
  background-color: #ffffff;
  .el-form-item__label{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
  }
  .together-tab{
    height: 55px;
    background: #F6F6F6;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    .tab{
      height: 39px;
      line-height: 39px;
      font-size: 14px;
      color: #333333;
      padding: 0 30px;
      cursor: pointer;
      &.current{
        font-weight: bold;
        background: #ffffff;
      }
    }
  }
  .together-data-top{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #F5F6FA;
    border-radius: 10px;
    margin-bottom: 20px;
    .together-title{
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      margin-right: 25px;
      img{
        margin-right: 10px;
      }
    }
    .activity-status{
      width: 104px;
      height: 31px;
      border-radius: 130px;
      color: #ffffff;
      text-align: center;
      line-height: 31px;
      &.not-started{
        background: $--status-color-not-started;
      }
      &.ongoing{
        background: $--status-color-ongoing;
      }
      &.stopped{
        background: $--status-color-stopped;
      }
      &.finished{
        background: $--status-color-finished;
      }
      &.expired{
        background: $--status-color-expired;
      }
    }
  }
  .share-qrcode {
    display: flex;
    flex-direction: column;
    padding: 28px 12px;
    a {
      width: max-content;
      margin-left: 8px;
      color: $--color-primary-blue;
      font-size: 14px;
      text-decoration: underline;
    }
    &-row {
      display: flex;
      align-items: center;
      &:nth-of-type(1) {
        margin-bottom: 24px;
      }
    }
    &-title {
      width: 110px;
      font-size: 18px;
      color: #000;
    }
    &-link {
      display: inline-flex;
      justify-content: space-between;
      flex: 1;
      padding: 10px 20px;
      line-height: 40px;
      background-color: #F5F7FC;
      > span {
        flex: 1;
        padding-right: 10px;
        line-height: 20px;
        color: #000;
      }
    }
    &-img {
      > img {
        width: 120px;
        height: 120px;
        border: 1px dashed #888;
        box-sizing: border-box;
        object-fit: contain;
      }
      > p {
        font-size: 16px;
        color: #000;
        margin-top: 6px;
      }
      > a {
        vertical-align: 8px;
      }
    }
  }
}
