/*  common */
.skin-common {
    .container > .module.active {
        border-color: #fff !important;
    }
    .module-banner {
        background: transparent !important;
        .wrapper {
            padding: 0 12px !important;
            background: transparent !important;
        }
    }
    .module-recommend {
        background: transparent !important;
    }
}

/*  mixin */
@mixin container ($padding-top, $background-image, $background-color: transparent) {
    padding-top: $padding-top;
    background-image: url($background-image) !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    background-size: 100% auto !important;
    background-color: $background-color !important;
    @content;
}
@mixin search ($margin-bottom: 8.5px, $padding-top: 0, $height: 30px, $background-color: transparent) {
    @content;
    margin-bottom: $margin-bottom;
    padding-top: $padding-top !important;
    height: $height !important;
    background-color: $background-color !important;
    > div {
        width: 282px !important;
        > span > i {
            left: 92px !important;
        }
    }
}
@mixin copyright ($height, $color, $background-image: null, $background-color: transparent) {
    height: $height !important;
    color: $color !important;
    @if $background-image {
        background-image: url($background-image) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 100% !important;
        background-color: $background-color !important;
    } @else {
        background: transparent;
    }
    @content;
}

// 圣诞皮肤
.skin-xmas {
    @extend .skin-common;
    background-color: #c81819 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/xmas/7a2048fd-b958-48af-8861-34c672b5fe84.png';
        @include container(29px, $background-image);
        .skin-title {
            margin: 0 -12px;
        }
    }
    .module-search {
        background: transparent !important;
        &::before {
            position: absolute;
            top: -11px;
            left: 3px;
            content: '';
            width: 40px;
            height: 48px;
            background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/7393611f-65e9-4aa7-ad55-5dedc1241183.png') no-repeat center;
            background-size: 100%;
            z-index: 1;
        }
    }
    .module-copyright {
        @include copyright(60px, #fff);
        position: relative;
        &::before {
            position: absolute;
            top: 14px;
            left: 50px;
            content: '';
            width: 30px;
            height: 40px;
            background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/7da66cb2-96f6-4bef-9e1d-0038a3003283.png') no-repeat center;
            background-size: 100%;
        }
        &::after {
            position: absolute;
            top: 14px;
            right: 50px;
            content: '';
            width: 22px;
            height: 35px;
            background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/7da66cb2-96f6-4bef-9e1d-0038a3003283.png') no-repeat center;
            background-size: 100%;
        }
    }
}

// 元旦皮肤
.skin-yuan-dan {
    @extend .skin-common;
    background-color: #e4d1a3 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/yuan-dan/84792abd-69ab-4de4-9e3f-0b00c3123e9c.png';
        @include container(38px, $background-image);
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/yuan-dan/cbfbc6a1-6e57-4cf8-82d9-54bb17d600ba.png';
        @include copyright(150px, #f2e2ba, $background-image);
    }
}

// 新年皮肤
.skin-new-year {
    @extend .skin-common;
    background-color: #ae1a10 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/new-year/32724153-3431-4331-9589-b3018075aed6.png';
        @include container(38px, $background-image);
        .skin-title {
            margin: 0 -12px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/new-year/9c269eae-f95d-4651-9e37-1efbba2a3534.png';
        @include copyright(75px, #fff, $background-image);
    }
}

// 小年皮肤
.skin-xiao-nian {
    @extend .skin-common;
    background-color: #ff8401 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/xiao-nian/558e1a1d-37a9-428e-9b4a-74b3d9edb9be.png';
        @include container(51px, $background-image);
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #f2e2ba, #ff8401);
    }
}

// 元宵
.skin-yuan-xiao {
    @extend .skin-common;
    background-color: #d6922d !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/yuan-xiao/b0c4d8b7-ccec-4d96-a571-10c365ff95ea.png';
        @include container(51px, $background-image);
        .skin-title {
            margin: 0 -12px 7px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #f2e2ba);
    }
}

// 妇女节
.skin-women-day {
    @extend .skin-common;
    background-color: #f6dde0 !important;
    > .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/women-day/bg.jpg';
        @include container(37px, $background-image);
        > .module.active {
            border-color: #ea615f !important;
        }
        .skin-title {
            margin: 0 0 5px;
        }
    }
    .module-search {
        @include search(6.5px);
    }
    .module-copyright {
        @include copyright(45px, #ea615f);
    }
}

// 年年翻
.skin-nian-nian-fan {
    @extend .skin-common;
    background-color: #f2c757 !important;
    > .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/nian-nian-fan/bg.jpg';
        @include container(32px, $background-image);
        > .module.active {
            border-color: #f35815 !important;
        }
        .skin-title {
            margin: 3px 0 12px;
        }
    }
    .module-search {
        @include search(12px);
    }
    .module-copyright {
        @include copyright(45px, #f35815);
    }
}

// 地球日
.skin-earth-day {
    @extend .skin-common;
    background-color: #ade6bc !important;
    > .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/earth-day/bg.jpg';
        @include container(32px, $background-image);
        > .module.active {
            border-color: #19b47b !important;
        }
        .skin-title {
            margin: 3px 0 10px;
        }
    }
    .module-search {
        @include search(12px);
    }
    .module-copyright {
        @include copyright(45px, #19b47b);
    }
}

// 劳动节
.skin-labour-day {
    @extend .skin-common;
    background-color: #c3472e !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/labour-day/bg.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #efc573 !important;
        }
        .skin-title {
            margin: 12px 0 15px;
        }
    }
    .module-search {
        @include search(6px);
    }
    .module-copyright {
        @include copyright(45px, #efc573);
    }
}

// 母亲节
.skin-mothers-day {
    @extend .skin-common;
    background-color: #ffe3e0 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/mothers-day/bg.jpg';
        @include container(37px, $background-image);
        > .module.active {
            border-color: #ea615f !important;
        }
        .skin-title {
            margin: 3px 0 10px;
        }
    }
    .module-search {
        @include search(6.5px);
    }
    .module-copyright {
        @include copyright(45px, #ea615f);
    }
}

// 儿童节
.skin-children-day {
    @extend .skin-common;
    background-color: #99dcfc !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/children-day/bg.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #fd7803 !important;
        }
        .skin-title {
            margin: 0 0 9px;
        }
    }
    .module-search {
        @include search(6px);
    }
    .module-copyright {
        @include copyright(45px, #fd7803);
    }
}

// 父亲节
.skin-fathers-day {
    @extend .skin-common;
    background-color: #a3cbfb !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/fathers-day/bg.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #1764c7 !important;
        }
        .skin-title {
            margin: 7px 0 15px;
        }
    }
    .module-search {
        @include search(6px);
    }
    .module-copyright {
        @include copyright(45px, #1764c7);
    }
}

// 端午节
.skin-dragon-boat {
    @extend .skin-common;
    background-color: #7dcaae !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/dragon-boat/bg.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #1b8864 !important;
        }
        .skin-title {
            margin: 0 0 6px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #1b8864);
    }
}

// 中秋
.skin-mid-autumn-festival {
    @extend .skin-common;
    background-color: #22ADB2 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/mid-autumn-festival/bg.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #F9DF55 !important;
        }
        .skin-title {
            margin: 0 0 10px;
        }
    }
    .module-search {
        @include search(6px);
    }
    .module-copyright {
        @include copyright(54px, #F9DF55);
    }
}

// 国庆
.skin-national-day {
    @extend .skin-common;
    background-color: #BA0909 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/national-day/bg.jpg';
        @include container(90px, $background-image);
        > .module.active {
            border-color: #FD7803 !important;
        }
        .skin-title {
            margin: 0 -12px 12px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FD7803);
    }
}

// 双十二文化类
.skin-culture {
    @extend .skin-common;
    background-color: #FF9904 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/culture/bg-new.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 10px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 双十二运动类
.skin-sports {
    @extend .skin-common;
    background-color: #2D88F2 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/sports/bg-new.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 17.5px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 双十二文艺类
.skin-arts {
    @extend .skin-common;
    background-color: #70D5A3 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/art/bg-new.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 12px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 双十二
.skin-double-12 {
    @extend .skin-common;
    background: linear-gradient(90deg, #DA5D1A 0%, #CC2714 100%) !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/double-12/bg-new.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 15px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 狂欢派对
.skin-party {
    @extend .skin-common;
    background: #53A272 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/party/bg-home.jpg';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 15px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 好课连连
.skin-good-course {
    @extend .skin-common;
    background: #F33C45 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/good-course/bg-home.png';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 15px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 欢迎新同学
.skin-welcome-new {
    @extend .skin-common;
    background: #25B9BB !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/welcome-new/bg-home.png';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #FFFFFF !important;
        }
        .skin-title {
            margin-bottom: 15px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #FFFFFF);
    }
}

// 圣诞
.skin-xmas-2020 {
    @extend .skin-common;
    background: #0A866A !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/xmas-2020/bg.png';
        @include container(65px, $background-image);
        > .module.active {
            border-color: #E5800E !important;
        }
        .skin-title {
            margin-bottom: 10px;
        }
    }
    .module-search {
        @include search();
    }
    .module-copyright {
        @include copyright(45px, #E5800E);
    }
}